.TermsBox{
    margin: 5%;
    margin-top: 7% !important;
}
.headSize{
    font-size: 1.5em ;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold  !important;
}
.text h1{
    font-size: 1rem;
    text-align: left;
    padding: 28px;
}
.text p{
    font-size: 1rem;
    text-align: justify;
    color: black;

}
.TermsList li{
    font-size: 1rem;
    text-align: justify !important;
    margin: 30px;

}
.List li{
    font-size: 1rem;
    text-align: justify !important;
    margin: 30px;

}
.text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    /* color: #18568f; */
}
.AquaColor{
    color: #199884 !important;
}
.text{
    text-align: left;
    /* margin-top: 10%; */
}
.text li{
    font-size: 1rem !important;
    text-align: left;
    color: black;
}
.TermsList{
    margin-left: 2%;
    list-style-type: number;
}

@media(max-width: 498px){
    .ContactFont{    
         font-size: 2.6rem
    }
    .text h2{
        font-size: 2.8rem !important;
        padding-bottom: 2% !important;
    }
    .text li{
        font-size: 3rem;
    }
    .text p{
        font-size: 2.6rem;
    }
    .List li{
        font-size: 2.6rem !important;
    }
    .TermsList li{
        font-size: 2.6rem !important;
    }
    .TermsBox{
        margin-top: 15% !important;
    }

}