.ContactTaxt{ 
    text-align: left;
    /* margin-top: 10%; */
}
.ContactBox{
    margin: 5%;
    margin-top: 7%;
}
.ContactBox p{
    text-align: justify;
}
.ContactBox li{
    text-align: justify;
}
.Headcenter{
    text-align: left;
}
.FAQList{
    margin-left: 2%;
}
.FAQList li {
    margin-top: 1%;
}
.MapBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.AddressBox{
    margin-top: 10%;
}

.divider{
    /* color: black; */
    padding-bottom: 2%;
    border-bottom: solid 1px black;
}

@media(max-width: 498px){
    .ContactFont{    
         font-size: 2.5rem !important;
         margin-top: 3%;
    }
    .ContactBox h3{
        font-size: 3.2rem;
        font-family: Arial, Helvetica, sans-serif  !important;
    }
    .ContactBox h5{
        font-size: 2.6rem;
        font-family: Arial, Helvetica, sans-serif  !important;
    }
    .ContactBox p{
        margin-top: 2%;
        font-size: 2.6rem;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif  !important;
    }
    .ContactBox{
        margin-top: 13% !important;
    }
    .MapBox{
        flex-direction: column;
        text-align: center;
    }
    .Headcenter{
        font-size: 3.5rem !important;
    }
    .GEtDirection{
        font-size: 2rem !important;
    }
    .AddressBox{
        padding-bottom: 4%;
    }
    .headSize{
        font-size: 3rem !important;
    }
    .ContactBox p{
        font-size: 2.3rem !important;
        text-align: justify !important;
    }
    .ContactBox li{
        font-size: 2.3rem !important;
        text-align: justify !important;
    }
}







.allContactUs{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 50px;
}
.contactUsHeading{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 500%;
    margin-top: 3%;
}
.contactHeading{
    color: black;
    font-weight: bold !important;
}

.usHeading{
    color: blue;
    font-weight: bold !important;
}

.contactUs1{
     text-align: left;
     padding: 2% 2%;
     font-family:Arial, Helvetica, sans-serif;
     font-size:xx-large;
}

.contactUs2_1{
    display: flex;
    flex-direction: column;
    width: 39%;
     text-align: left;
     padding: 2% 2%;
     font-family:Arial, Helvetica, sans-serif;    
     font-size: small;
}

.contactUs2_2{
    height: 90%;
    width: 70%;
}

.text{
    font-size: xx-large;
}

.criticalCareHead2_1{
    font-size: 495%;
}

.contactEmailId{
    /* padding: 0%; */
    margin-top: 5%;
    font-size: xx-large;
    padding: 0px 0px;
    width: 84%;
    
}

.getDirectionBox {
    margin: 14px 150px;
    /* margin-left: 0% !important; */
    padding: 17px 50px;
    align-items: left;
    justify-content: left;
    text-align: center;
    /* height: auto; */
    /* margin-top: 2%; */
    border-radius: 12px;
    margin-left: 0%;
    width: 84%;
    font-size: xx-large;
}



.fAQSection{
    margin-top: 1%;
    text-align: left;
    padding: 2% 2%;
    font-family:Arial, Helvetica, sans-serif;
}

.fAQHeading{
    font-size: 480%;
}

.qna{
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.line{
    padding: 1% 4%;
}