.box-col{
    margin: 20px;   
    margin-top: 3%;
}
.AboutBox{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}
.AboutContent{
    padding-right: 3%;
}
.Aboutbox{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* width: 100%; */
}
.LogoBox{
    justify-content: center;
    border: solid 2px black;
    padding: 84px 50px;
    margin: 25px;
}
.AboutLogo{
    width: 200px;
    height: 50px;
}
/* .width_margin{
    width: 100%;
} */
.flexrow{
    display: flex;
    flex-direction: row;
}
.Heading{
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}
.headSize{
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    margin-top: 1%;
}
.w30{
    margin: 10px 100px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.SB{
    justify-content: space-between;
}
.box-fix{
    border: solid 4px black;
    width: 30%;
    min-height: 300px;
    margin: 30px;
}
.textLeft{
    font-size: 1rem !important;
    text-align: left;
    margin-top: 2%;
}
.textLeft p{
    font-size: 1.2rem ;
    /* margin: 10px 0; */
    color: black;
    font-weight: 300 ;
    text-align: justify;
}
.Testmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 40px;
}
.textHead{
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}
.testBox{
    display: flex;
    flex-direction: row;
    text-align: left;
    color: black;
}

.testBox p{
    font-size: 1rem;
    margin: 15px;
    color: black;
}
.DownloadMargin {
    margin: 10px 18px;
    border-radius: 6px;
    
}

.Download-row{
    display: flex;
    flex-direction: row;
}
@media(max-width: 1050px){
    .Aboutbox{    
         flex-direction: column;
         align-items: center;
    }
}
@media(max-width: 1050px){
    .box-fix{    
         width: 35%;
    }
}
@media(max-width: 850px){
    .box-fix{    
         width: 40%;
    }
}
@media(max-width: 750px){
    .box-fix{    
         width: 45%;
    }
}
@media(max-width: 550px){
    .box-fix{    
         width: 80%;
    }
}
@media(max-width: 498px){
    .box-fix{    
         width: 80%;
    }
    .Download-row{
        flex-direction: column;
    }
    .textHead{
        font-size: 2.5rem !important ;
        /* margin: 15px !important; */
    }
    .textLeft{
        margin-top: 12% !important;
    }
    .AboutBox{
        flex-direction: column;
    }
    .LogoBox {
        margin-top: 3%;
        padding: 140px 150px;
    }
    .Heading{
        font-size: 2.6rem !important;
    }
    .Aboutbox{
        margin: 0;
    }
}

@media(max-width: 300px){
    .box-fix{    
         width: 80%;
    }
}

            /* 3/3 start  */


.aboutSection{
    font-family: Arial, Helvetica, sans-serif !important;
    /* this font is from PW  */
}            

@media (max-width: 360px){
    .aboutSection{
        margin: 0px -73px;
        
    } 
    /* I've only increased About us heading in media q  */
    .width_margin textLeft h1{
        font-size: 6.5rem !important;
        font-weight: 600;
        /* margin-bottom: 3% !important; */
    }
}           