body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
  font-family: "Inter" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.menuText {
  color: #000 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.8rem !important;
  
}
.Mui-focusVisible{
  border-color:#18568f !important;
}
.paddingDropdown{
  padding: 9px 22px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.menuSize {
  width: 800px !important;
}
.allCoursesIcon {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
html {
  overflow: auto !important;
}

code {
  font-family: "Inter" !important ;
}
.static {
  position: sticky !important;
  top: 0 !important;
}
.LoginButton {
  width: 30;
  height: 30;
  background-color: #18568f !important;
}
.logo {
  width: 200px;
  height: 50px;
  /* margin-left: 3%; */
}
.loginContainer {
  margin-right: 3%;
}
.homeImage {
  width: 100%;
}
.homeImage img {
  transform-style: preserve-3d;
  height: auto !important;
  width: 100%;
  z-index: 78 !important;
  margin-top: 3%;
}
.cardHome {
  width: 79% !important;
  overflow: visible;
  height: 60%;
  display: flex;
  margin: auto;
  background-color: white;
  padding: 1%;
  border-radius: 25px 25px 25px 25px;
  /* transform: translateY(-28%); */
  flex-direction: row;
  box-shadow: 0px 0px 1px 1px #d3d3d3 !important;
  margin-top: 3% !important;
}

.appImage {
  /* float: right; */
  position: absolute;
  right: 0;
  margin-right: 14%;
  width: 17%;
    height: 32% !important;
}

.leftDesign {
  font-size: x-large !important;
  font-weight: 700 !important;
  width: 70%;
  height: 50%;
  text-align: left;
  margin-left: 5%;
}
.phoneTextField {
  width: 60%;
  margin-top: 1% !important;
  color: black !important;
  font-size: 1.2rem !important;
  
}

.storeLogo {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 2%;
}
.appLogo {
  width: 120px;
  height: 36px;
}
.googleLogo {
  width: 120px;
  height: 36px;
  margin-left: 3%;
}
.secondHeading{
  font-size: 1.8rem !important;
}

.MuiInputBase-input-MuiOutlinedInput-input {
  color: #000 !important;
  font-size: 1.4rem !important;
}
.arrowIcon {
  transform: rotate(275deg);
  font-size: 1.4em !important;
  color: #000;
}
.phoneTextFieldStartIcon {
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-top: 30% !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.leftSubDesign {
  font-weight: 500;
  font-size: 0.8em !important;
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.leftTextDesign {
  font-size: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Testimonials css start */

.TestimonialsMain {
  margin-top: 59px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-bottom: 2%;
}
.boxUnderHeading {
  width: 20%;
  margin-left: 40%;
  background-image:  linear-gradient(to right top, #199884, #008a91, #007b99, #006999, #18568f) !important;
}

.TestimonialsHeading{
  font-size: 1.6rem !important;
}
.Arrow2 {
  margin-left: 3% !important;
  font-size: 2.8rem !important;
}
@media (max-width: 1280px) {
  .TestimonialsMain {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
  }
  .TestimonialsCard {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    /* width: 85%; */
    /* height: 100% !important; */
  }
  .TestimonialsLeftCard {
    margin: 35px 17px;
    background-color: rgb(243 243 243);
    height: 34%;
    width: 45%;
    text-align: left;
    font-size: 0.9rem;
    padding: 0% 0;
  }
  .Arrow2 {
    margin-left: 10% !important;
  }

  .testimonialPara {
    font-size: xx-large;
    padding-bottom: 1%;
    height: 39vh;
    text-align: justify;
  }
}

.TestimonialsHeading {
  font-size: xx-large;
  margin-top: 2%;
}

.boxUnderHeading {
  width: 20%;
  margin-left: 40%;
  background-color:  linear-gradient(to right top, #199884, #008a91, #007b99, #006999, #18568f) !important;
}

.secondHeading {
  font-size: 1.7rem;
  font-weight: 400%;
  margin-top: 1.5%;
}

.theMasters {
  /* color: linear-gradient(90deg, #18568f 0%, #18568f 35%, #199884 100%) !important; */
  /* font-size: 72px; */
  font-weight: 600;
  background:  linear-gradient(90deg, #18568f 0%, #18568f 35%, #199884 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TestimonialsCard {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.TestimonialsLeftCard {
  margin: 35px 36px;
  background-color: rgb(243 243 243);
  width: 45%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0% 0;
}

.testimonialPara {
  font-size: 1rem;
  padding-bottom: 1%;
  height: 22vh;
}

.names {
  font-size: 1rem;
  font-weight: 600;
}

.TestimonialsLeftCard p {
  margin: 36px 23px;
  
  font-family: Arial, Helvetica, sans-serif !important;
}
.TestimonialsLeftCard h3 {
  margin: 36px 23px;
}

.TestimonialsRightCard {
  background-color: grey;
  width: 50%;
}
.TestimonialsArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Arrow1 img {
  width: 180px;
}
.Arrow2 img {
  width: 180px;
}

.Arrow1 {
  font-size: 2.8rem !important;
}
.Arrow1:hover {
  color:#199884;
  cursor: pointer;
}
.Arrow2:hover {
  color:#199884;
  cursor: pointer;
}



/* Testimonials css End */

.cardBox {
  min-width: 50%;
  margin-left: 15%;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 2%;
  margin-top: 3%;
}
.rowDesign {
  display: flex;
  flex-direction: row;
  width: 62%;
}
.subCatHead {
  font-weight: 500 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  /* font-family: "Inter" !important; */
  font-size: 1.1em !important;
  height: 60px !important;
}
.subCatSubHead {
  font-size: 0.7em !important;
  margin-top: 4px !important;
  color: #2683DA !important;
  border: solid white;
}

.catDrop .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}
.catDrop{
  padding: 2%;
}
.categoryMainBox {
  display: block;
  margin: auto;
  margin: 32px;
  margin-top: 5%;
}
.catHeading {
  font-size: 2em !important;
  /* font-family: "Inter" !important; */
  /* font-family: Gilroy, "sans-serif" !important; */
  font-weight: bolder !important;
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root {
  padding: 4% !important;
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root:hover {
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  background-color: white !important;
  border-radius: 5px 5px 5px 5px;
}

.highlight {
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  background-color: white !important;
  border-radius: 5px 5px 5px 5px;
  color: #2683DA;
}
/* subcategory */
.category{
  /* width:84% !important; */
}
.subCatBox {
  margin-top: 3%;
  margin-left: 5%;
  width: 33%;
  min-width: 35% !important;
  height: 39%;
  background-color: #fff;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 13px 22px;
  align-items: left;
  text-align: left;
}
.subMenuText1{
  font-size: 1rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.nestedMenu{
  font-size: 1rem !important;
  font-weight: 550 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #1B2124 !important;
  line-height: 1.5rem !important;
  --tw-text-opacity: 1;
}
.rightBoxCat {
  display: flex;
  flex-wrap: wrap;
  min-width: 58vw;
}
.SubCategoryBox{
  display: none;
}
.SubBox{
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px #aaaaaa47 !important;
  margin-top: 4%;
  text-align: left;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  font-size: 2.3rem !important;
  line-height: 100px;
  height: 81%;
  display: flex;
  flex-direction: row;
}
.ShowButton{
  display: none;
  font-size: 2.3rem !important;
  color: #2683DA !important;
  font-family: Arial, Helvetica, sans-serif;

}
.SubBox{
  font-size: 2.3rem;
}
/* Analytics */

.analyticsBox {
  width: 100%;
  height: 60%;
  background-color: #18568f;
  color: white;
  padding: 3%;
  margin-top: 3% !important;
}
.anaTypo {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
}
.analyticsCount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 2%;
}
.subTypo {
  font-size: 1.8em !important;
  margin-top: 1% !important;
}
.calCount {
  font-size: 2em !important;
  font-weight: 600;
}
.calMsg {
  font-size: 1.2em !important;
}

/* PlanDescription */
.planMainBox {
  margin-top: 5%;
  width: 100%;
}
.bottomLogoBox{
   box-shadow: 0px 1px 1px 1px #c8c6c6;
   border-bottom-left-radius: 53px;
   border-bottom-right-radius: 53px;
   width: 75%;
   margin-left: 12.5%;
    padding: 2%;
}
.planImgBottom{
  width: 20%;
}
.planImg {
  width: 75%;
  height: 62vh !important;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
}
.planText {
  margin-top: 6%;
}
.planTextTypo {
  font-size: 1.8em !important;
  font-weight: 600 !important;
}
.imageNeet{
  width:75%;
  margin-top: 3%;
}
.planSubTextTypo {
  font-size: 1.2em !important;
  margin-top: 10px !important;
  /* font-family: "Inter" !important; */
  color:#199884 !important;
  font-family: Arial, Helvetica, sans-serif!important;
}

/* Live */
.liveBox {
  display: flex;
  width: 76%;
  margin: auto;
  padding: 2%;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 25px 25px 25px 25px;
}
.liveFirst {
  width: 30%;
}
.liveText {
  color: #18568f !important;
  /* font-family: "Inter" !important; */
  /* font-family: Gilroy, "sans-serif" !important; */
  font-size: 28px !important;
  font-weight: 700 !important;
  line-height: 36.31px !important;
  text-align: justify;
}
.liveTextScnd {
  margin-top: 5% !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #00000078;
  font-family: "Inter" !important;
  text-align: justify;
}




                       /* 3/3  start*/



@media (max-width: 360px){        
  .liveTextScnd{
    font-size: 24px !important; 
  }
  .leftTextDesign{
    font-size: 24px !important;
    font-weight: 800 !important;
  }
  .leftDesign{
    padding-top: 62px !important;
  }
  .storeLogo{
    margin-top: 10% !important;
  }
  .phoneTextField {
    width: 66%;
    height: 20%;
    margin-top: 6% !important;
    color: black !important;
    border: 0.1px solid black !important;
  }
  /* .cardHome{
  width: 80% !important;
  height: 20% !important;
} */
.leftSubDesign{
  color: grey;
}
.catHeading{
  font-size: 3em !important;
}
/* .cardBox{
  margin-top: 6%;
} */
.rowDesign{
  margin-left: -12% !important;
  width: 75%;
  margin-top: 3%;
}
.subCatHead{
font-size: 1.3em !important;
}
.subCatSubHead{
  font-size: 1.3em !important;
}
.highlight{ 
  /* this isn't working */
  font-size: 1.3em !important; 
}
.MuiInputBase-input-MuiOutlinedInput-input {
  color: #000 !important;
  font-size: 2rem !important;
}
}

                   /* 3/3 end  */


.liveScnd {
  width: 73%;
  text-align: left;
}
.liveImg {
  width: 236px;
  height: 237px;
  margin-top: -9%;
}
/* dot line */
.dotLineImg {
  width: 87%;
  height: 20%;
  margin-left: 20%;
}
.dotLine {
  width: 80%;
}
.NeetBox {
  margin-top: 20px;
}
.NeetImg {
  width: 100%;
}
@media (max-width: 1289px) {
  .leftTextDesign {
    font-size: 1em !important;
  }
  .leftSubDesign {
    font-size: 1.3em;
  }
  .leftDesign {
    width: 55%;
    height: 50%;
  }
  .cardHome {
    width: 71% !important;
    overflow: visible;
    height: 60%;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 6% !important;
    border-radius: 25px 25px 25px 25px;
    /* transform: translateY(-28%) !important; */
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage {
    width: 30%;
    height: 49%;
  }
}
@media (max-width: 990px) {
  .leftSubDesign {
    font-size: 1em;
  }
  .leftTextDesign {
    font-size: 1.5em !important;
  }
  .leftDesign {
    width: 100%;
    height: 50%;
    margin-left: 12%;
  }
  .cardHome {
    width: 71% !important;
    overflow: visible;
    height: 60% !important;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 9% !important;
    border-radius: 25px 25px 25px 25px;
    /* transform: translateY(-28%) !important; */
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage {
    display: none;
  }
  .paddingDropdown {
    padding: 0px !important;
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: none !important;
  }
}

@media (max-width: 484px) {
  .leftSubDesign {
    font-size: 2rem;
  }
  .MuiInputBase-input-MuiOutlinedInput-input{
    color: #000 !important;
    font-size: 2rem !important;
  }
  .analyticsCount {
    grid-template-columns: 1fr 1fr;
  }
  .calBox2 {
    margin-top: -34px;
  }
  .subCatBox {
    height: 59%;
  }
  .rowDesign{
    display: none;
  } 
  .SubCategoryBox{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .cardHome {
    /* width: 71% !important; */
    height: 70% !important;
    /* 5/3  */
    width: 84% !important;
    overflow: visible;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    border-radius: 25px 25px 25px 25px;
    /* transform: translateY(-28%) !important; */
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }
  /* .leftDesign {
    width: 100%;
    height: 50%;
    margin-left: 10% !important;
  } */
  .appImage {
    display: none;
  }
  .homeImage img {
    transform-style: preserve-3d;
    height: auto !important;
    width: 100%;
    margin-top: 8%;
  }
 
  .loginContainer {
    margin-right: 1%;
  }
  .liveBox {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 2%;
    width: 96%;
  }
  .liveScnd {
    width: 98%;
  }
  .liveText {
    font-size: 2.9rem !important;
    line-height: 49.31px !important;
  }
  .liveTextScnd {
    margin-top: 3% !important;
    font-size: 2.1rem !important;
    color: #000000a8;
}
.leftTextDesign {
  font-size: 2.2rem !important;
}
.carousel-item img {
  width: 92% !important;
  height: 35vh !important;
}
.center p {
  font-size: 2.3rem !important;
}
  .liveBoxrev {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 475px) {
  /* .leftTextDesign {
    font-size: 1.2em !important;
  } */
  .MuiInputBase-input-MuiOutlinedInput-input {
    color: #000 !important;
    font-size: 2rem !important;
  }
  .leftDesign {
    width: 100%;
    height: 50%;
    margin-left: 2%;
  }
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }
  .logo {
    display: none;
    width: 50%;
    height: 11vh;
  }
  .loginContainer {
    margin-right: 1%;
  }
  .appImage {
    display: none;
  }
  .cardRight {
    display: none;
  }
 
}

@media screen and (max-width: 413px) {
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }

 
  .loginContainer {
    margin-right: 1%;
  }
}
@media (max-width: 340px) {
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }

 
  .loginContainer {
    margin-right: 1%;
  }
}
@media (max-width: 479px) {
  .appLogo {
    /* width: 80px !important;
    height: 36px !important; */
    /* 3/3 */
    width: 40% !important;
    height: 20% !important;
  }
  .googleLogo{
    width: 40% !important;
    height: 20% !important;
  }
}
@media (max-width: 379px) {
  .appLogo {
    /* width: 80px !important;
    height: 36px !important; */
    /* 3/3 */
    width: 40% !important;
    height: 20% !important;
  }

  .googleLogo {
    /* width: 80px !important;
    height: 36px !important; */
    /* 3/3 */
    width: 40% !important;
    height: 20% !important; 
    margin-left: 3%;
  }
}
