body {
  margin: 0;
  font-family:"Inter" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"Inter" !important ;
}
.LoginButton{
  width:30;
  height: 30;
}
.logo{
  width: 200px;
  height: 50px;
  margin-left:3%;
}
.loginContainer{
  margin-right: 3%;
}
.homeImage{
  width:100%;
}
.homeImage img{
  transform-style: preserve-3d;
   height:60vh !important;
  width: 100%;
  z-index: 78 !important;
}
.cardHome{
  width:71% !important;
  overflow: visible;
  height:60%;
  /* border: 1px solid #c0bebe; */
  display:flex;
  margin: auto;
  background-color: white;
  padding: 1%;
  /* padding-bottom: 5%; */
  border-radius: 25px 25px 25px 25px;
  transform: translateY(-28%);
   flex-direction: row;
  box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
}
.divHomeImage{
}
.appImage{
  /* float: right; */position: absolute;
  right:0;
  margin-right: 2%;
  width:27%;
  height:89%}

.leftDesign{
  width:70%;
  height:50%;
  text-align: left;
  margin-left: 5%;
}
.phoneTextField{
  width:60%;
  margin-top: 4% !important;
  color: black !important;
}
.storeLogo{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.appLogo{
  width:120px;
  height: 36px;
}
.googleLogo{
  width:120px;
  height: 36px;
  margin-left: 3%;
}

.css-152mnda-MuiInputBase-input-MuiOutlinedInput-input{
  color:#000 !important
}
.arrowIcon{
  transform: rotate(275deg);
  font-size: 2.2em !important;
  color: #000;
}
.phoneTextFieldStartIcon{
  color: #000 !important;
  font-size: 1.3em;
  font-weight: 500 !important;
}
.leftSubDesign{
  font-weight: 600;
  font-size: 1.6em;
  /* margin-top: -2%; */
}
.leftTextDesign{
  font-size: 2.7em;
  font-weight: 600;
  font-family: "Inter";
}
.cardBox{
  width:25%;
  margin-left: 15%;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 2%;
  margin-top:3%;
  margin-bottom: 2%;
}
.catDrop{
   
}
.catDrop .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root{
  font-family: "Inter" !important;
  font-weight: bold !important;
}

.categoryMainBox{
  display: block;
  margin: auto;
}
.catHeading{
   font-size: 2em !important;
   font-family: "Inter" !important;
   font-weight: bolder !important;
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root{
  padding: 4% !important;
 
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root:hover{
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  background-color: white !important;
  border-radius: 5px 5px 5px 5px;
}

@media (max-width:1289px) {
  .leftTextDesign{
    font-size: 2em !important;
  }
  .leftSubDesign{
    font-size: 1.3em;
  }
  .leftDesign{
    width:55%;
    height:50%;
  }
  .cardHome{
    width:71% !important;
    overflow: visible;
    height:60%;
    /* border: 1px solid #c0bebe; */
    display:flex;
    margin: auto;
    background-color:white;
    padding: 2%;
    padding-bottom: 9% !important;
    border-radius: 25px 25px 25px 25px;
    transform: translateY(-28%) !important;
     flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage{
    width:30%;
    height:65%
  }
}
@media (max-width:990px) {
  .leftSubDesign{
    font-size: 1em;
  }
  .leftTextDesign{
    font-size: 1.5em !important;
  }
  .leftDesign{
    width:100%;
    height:50%;
    margin-left: 12%;
  }
  .cardHome{
    width:71% !important;
    overflow: visible;
    height:60% !important;
    /* border: 1px solid #c0bebe; */
    display:flex;
    margin: auto;
    background-color:white;
    padding: 2%;
    padding-bottom: 9% !important;
    border-radius: 25px 25px 25px 25px;
    transform: translateY(-28%) !important;
     flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage{
  display: none;
  }
}
@media  (max-width: 485px) {
  .leftTextDesign{
    font-size: 1.4em !important;
  }
  .leftSubDesign{
    font-size: 1em;
  }
  .cardHome{
    width:71% !important;
    overflow: visible;
    height:60%;
    /* border: 1px solid #c0bebe; */
    display:flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 18% !important;
    border-radius: 25px 25px 25px 25px;
    transform: translateY(-28%) !important;
     flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .LoginButton{
    width:6 !important;
    height: 6 !important;
    font-size: 0.6em !important;
   
  }
  .leftDesign{
    width:100%;
    height:50%;
    margin-left: 10% !important;
  }
  .appImage{
    display: none;
  }
  .homeImage img{
    transform-style: preserve-3d;
     height:auto !important;
    width: 100%;
  }
  .logo{
    display: none;
    width:100px !important;
    height: 40px !important;
    margin-left:1% !important;
  }
  .loginContainer{
    margin-right: 1%;
  }
}
@media screen and (max-width: 475px) {
  .leftTextDesign{
    font-size: 1.2em !important;
  }
  .leftDesign{
    width:100%;
    height:50%;
  }
  .LoginButton{
    width:5 !important;
    height: 5 !important;
    font-size: 0.5em !important;
   
  }
  .logo{
    display: none;
    width:100px !important;
    height: 40px !important;
    margin-left:1% !important;
  }
  .loginContainer{
    margin-right: 1%;
  }
  .appImage{
    display: none;
  }
}

@media screen and (max-width: 413px) {
  .LoginButton{
    width:2 !important;
    height: 2 !important;
    font-size: 0.3em !important;
   
  
  }
  
  .logo{
    display: none;
    width: 150px !important;
    height: 40px !important;
    margin-left:1% !important;
  }
  .loginContainer{
    margin-right: 1%;
  }
}
@media  (max-width: 340px) {
  .LoginButton{
    width:1 !important;
    height: 1 !important;
    font-size: 0.5em !important;
  }
  
  .logo{
    width: 100px !important;
    height: 20px !important;
  }
  .loginContainer{
    margin-right: 1%;
  }
}
@media  (max-width: 379px) {
  .appLogo{
    width:80px !important;
    height: 36px !important;
  }
  
  .googleLogo{
    width:80px !important;
    height: 36px !important;
    margin-left: 3%;
  }
}